form {
	
	float: right;	
	margin-top: 0%;	
	width:200px;
	max-width: 100%;
 	min-width: 200px;
	height: 150px;
	border-radius: 9px; 
	text-align: center;
	margin-left: 80%;
	margin-top: -12%;
	background: #F5F5F5;
	}
input {
	margin-top: 1em;
	padding-top: 0.5em;
	font-family: lobster; 
	border-radius: 7px;
	padding-left: 15px; 
	border: 0px;
	color: white;
	background: black;
	letter-spacing: 3px;
	
	}
#inp_1 {
	margin-top: 5%;
	}
#but_1 {
	width: 70%;
	color: white;
	border: 0px;
	padding-left: 0px;
	background-color: black;
	pointer: cursor;
	}
a {
	border-spacing: none;
	color: black;
	margin-top: 15px;
	letter-spacing: 2px;
	text-decoration: none;
	
	}
#logo0 {
	position: relative;	
	font-size: 7em;
	margin-top: 15%;
	margin-left: 5%; 
	color: white;
	text-shadow: 3px 3px 3px black;
	font-family: lobster;
	text-align: left;
	}
#logo1 {
	position: relative;	
	font-size: 5em;
	margin-left: 5%;	
	color: white;
	text-shadow: 3px 3px 3px black;
	font-family: lobster;
	text-align: left;
	}
